a {
	color:red; 
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica; sans-serif;
}

a:hover {
	color: #5680e9;
	font-size: 20px;
}

body {
/*	background-color: #dddddd;*/
	background-image: url(../pict_Elbrus/elbrus_bw_fon.jpeg);
	background-size: 100%;
	background-attachment: fixed;
	
}

p {
	color: #333333;
	text-indent: 50px;
	font-size: 18px;
	font-family: Helvetica; sans-serif;
	line-height: 1.4;
}
p:first-line {
	font-weight: 500;
	color: #5680e9;
}


h2 {
	font-weight: 500;
	font-style: italic;
	font-family: Helvetica;
	color: #8860d0;
}